
.slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10vh;
  text-align: center;
  place-items: center;
  width: 60%;
  position: relative;
  overflow: hidden;
  padding: 0px;
  box-sizing: border-box;
}


.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  margin-top: 8vh;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}


.btn-12{
  position: relative;
  right: 20px;
  bottom: 20px;
  border:none;
  box-shadow: none;
  width: 130px;
  height: 40px;
  line-height: 42px;
  -webkit-perspective: 230px;
  perspective: 230px;
}
.btn-12 span {
  background: rgb(0,172,238);
background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%);
  display: block;
  position: absolute;
  width: 130px;
  height: 40px;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  border-radius: 5px;
  margin:0;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.btn-12 span:nth-child(1) {
  box-shadow:
   -7px -7px 20px 0px #fff9,
   -4px -4px 5px 0px #fff9,
   7px 7px 20px 0px #0002,
   4px 4px 5px 0px #0001;
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}
.btn-12 span:nth-child(2) {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}
.btn-12:hover span:nth-child(1) {
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
.btn-12:hover span:nth-child(2) {
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
 color: transparent;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}
.slider {
  display: flex;
  gap: 10px;
  transition: transform 0.5s step-end;
  width: 90%;
}

.slide {
  flex: 0 0 33.33%; 
  display: none;
}

.slide.visible {
  display: block; 
}

.card {
  width: 100%;
  height: 400px;
  background-color:transparent;
  border: 1px solid #b8e6fe;
  border-radius: 30px;
  padding: 10px;
  color: #cfe0da;
  box-shadow: 3px 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.card-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 15px;
  margin-bottom: 10px;
}

.button {
  background-color: #b8e6fe;
  color: #09131d;
  border: none;
  margin-top: 5vh;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
}

.button:hover {
  background-color: #09131d;
  color: #b8e6fe;
}

.nav-button {
  background-color: #b8e6fe;
  color: #09131d;
  border: none;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.nav-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.nav-button:hover:not(:disabled) {
  background-color: #09131d;
  color: #b8e6fe;
}


.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(10px);
  z-index: 1000;
}

.popup-window {
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color:#0f172b;
  color: #cfe0da;
  border-radius: 20px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1;
  text-align: center;
}

.popup-window h2 {
  margin-bottom: 20px;
  text-decoration: none;
}

.popup-window img {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}

.popup-close-button {
  background-color: #b8e6fe;
  color: #09131d;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
}

.popup-close-button:hover {
  background-color: #09131d;
  color: #b8e6fe;
}


@media (min-width: 1025px) { /* Large screens */
  .slider {
    gap: 10px;
  }

  .slide {
    flex: 0 0 10%; 
  }
}



@media (max-width: 1024px) { 
  .slider {
    gap: 0px;

  }
  .slider-container {
    width: 100%;
    
  }
 
 
  .slide {
    flex: 0 0 100%; 
  }
}

@media (max-width: 768px) { /* Small screens */
  .slider-container {
    gap: 0; 
  }

  .slider {
    gap: 5px;
  }

  .slide {
    flex: 0 0 100%;
  }

  .card {
    width: 80%; 
    margin: 0 auto;
    text-align: center;
 
  }
}
