
.abt {
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
 
  .shine {
    display: flex;
    flex-wrap: wrap;
    width: 60vh;
    height: min-content;
    padding: 5px;
    box-shadow: 2px 8px 5px #0fbdff;
  }
  
  .shine:hover {
    box-shadow: none;
    
  }
  .shine h3:hover {
    color: #0fbdff;
    
  }
  .studies {
    display: flex;
    flex-wrap: wrap;
    width: 60vh;
  }
  .studies ul,li,strong{
    background-color: transparent;
  }
  .studies:hover{
    box-shadow: 10px 10px 10px #0fbdff;
    background-color: aliceblue;
  }

  .img-container {
    position: relative;
    place-items: centre;
    justify-content: center;
    justify-items: center;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    display: flex;
    justify-content: flex-centre; 
    width: 100%;
    background-color: transparent;
  }
  
  .avatar-image {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    height: 200px;
    transition: transform 0.3s ease-in-out;
    border-radius: 50%; 
    
    animation: borderanim  1s infinite;
    background-color: transparent;
  }
  
  .avatar-image:hover {
    transform: scale(1.1); 
  }
  
  .centered {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    padding-top: 4vh;
    color: #bad0ff;
    -webkit-text-stroke: 1px #000;
    background-color: transparent;
  
   
  }
 
  .Click{
    background-color: transparent;
    color: #44c0ff;
    font-size: xx-large;
   
    
  }
  .scaleup-animation{
    animation: scaleup 3s infinite ;
   }
  
   
   @keyframes borderanim {
    50%{
      border-left:2px solid #44c0ff;
      border-right:2px solid #44c0ff ;
      
    }
    100%{
     
      border-top: 2px solid #44c0ff;
      border-bottom: 2px solid #44c0ff;
    }
    
   }

   @keyframes  scaleup {
    0%{
      transform: scale(1.2);
    }
    50%{
      transform: scale(1);
    }
    100%{
      transform: scale(0);
    }
    
   }

  