.tech{
    padding: 9px;
    color: #86b9b0;
    border: 1px solid #cfe0da;
    width: min-content;
    height: min-content;
    border-radius: 15px;
   
}

.border-animation{
    animation: borderanim 2s infinite;
  }

  @keyframes borderanim {
    50%{
      border-left:2px solid #586afa;
      border-right:2px solid #586afa;
      
    }
    100%{
     
      border-top: 2px solid #586afa;
      border-bottom: 2px solid #586afa;
    }
    
   }